a {
  outline: none;
}

.topbar {
  grid-area: topbar;
  background-color: #005082;
  position: sticky;
  top: 0;
  z-index: 2;
}

.authOptions {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.logOut {
  display: inline-flex;
  margin: auto;
}

.logIn {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  height: 100%;
}

.register {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  height: 100%;
}

.logOut:hover {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  height: 100%;
  background-color: #411e8f;
}

.logOut:focus {
  color: #411e8f;
}

.logIn:hover {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  height: 100%;
  color: #411e8f;
}

.logIn:focus {
  color: #411e8f;
}

.register:hover {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  height: 100%;
  color: #411e8f;
}

.register:focus {
  color: #411e8f;
}
