a {
  outline: none;
}

.topbar {
  grid-area: topbar;
  background-color: #005082;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: auto;
}

.authOptions {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.option {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  height: 100%;
}

.option:hover {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  height: 100%;
  background-color: #411e8f;
}

.option:focus {
  color: #411e8f;
}
