:root {
  --clr-primary: #293241;
  --clr-body: #e4e1ec;
  --clr-bg: #a664e3;
}

.search {
  position: fixed;
  top: 20px;
  justify-self: center;
  z-index: 3;
  margin-left: 25%;
  margin-right: 25%;
}

.searchBar {
  display: flex;
  position: relative;
  grid-area: search;
  justify-content: flex-end;
  min-width: 2rem;
  border: 2px var(--clr-bg);
  z-index: 10;
  text-decoration: none;
}

.searchBarInput {
  display: flex;
  position: relative;
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  border-style: none;
  border-radius: 20px;
  text-decoration: none;
}

.searchBarSubmit {
  position: absolute;
  cursor: pointer;
  background: #a664e3;
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  display: inline-block;
}

.textarea:focus {
  outline: 0;
  text-decoration: none;
}

input:focus {
  outline: none;
}
